.user-home {
    
  background-image: url("https://image.freepik.com/free-vector/speed-lines-copy-space-orange-background_23-2148546175.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#town-info {
    color: white;
    font-weight: 500;
  }

  .card {
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  .container {
    padding: auto;
    margin-bottom: auto;
    
  }
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    padding: 10px 8px;
  }


  .pet-info {
    padding-bottom: 5px;
  }

  .button {
    /* display: block; */
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    /* text-decoration: none; */
    font-weight: bold;
    background: rgb(228, 19, 12);
    color: rgb(255, 255, 255);
    /* border: none; */
    font-size: 1rem;
    margin: 20px;
  
  }

.button:hover {
  background: rgb(3, 3, 3);
  color: rgb(248, 252, 247);
  font-weight: bold;
}