.user-home {
    
        background-image: url("https://image.freepik.com/free-vector/speed-lines-copy-space-orange-background_23-2148546175.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }